body {
    background-color: #494949;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, label {
    color: white;
}

/* Modificando aparência do input quando este não for preenchido corretamente */
form {
    input:invalid {
        border-color: red;
    }

    input:valid {
        border-color: green;
    }
}