* {
    font-family: "Rubik", sans-serif;
}

section {
    height: 100vh;
}

nav {
    background-color: #EDEDED;
    display: flex;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 14px 63px;
    box-shadow: 0px 4px 4px 0px #00000025;

    a {
        text-decoration: none;
        color: #3C3C3C;
    }
}

#navbar-lista {
    display: flex;

    li {
        padding-left: 73px;
    }

}

.tittles {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}

#home-section {
    background-color: #222222;
    padding-top: 65px; 
    display: flex;
    justify-content: space-between;

    #foto-home {
        width: 40vw;
        height: 100vh - 65px;
        background-image: url(/site_pessoal_com_bia/media/foto.jpg);
        background-size: cover;
        background-position: center;
    }

    #texts-home {
        display: flex;
        flex-direction: column;
        width: 60vw;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
        }
    
        h2 {
            color: #B6B6B6;
            font-weight: 400;
            font-size: 2rem;
            padding: 12px 0px 50px 0px;
        }
    } 
}

.download-button {
    background-color: #FF9E44;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 14px;
    color: white;
    border-radius: 8px;

    a {
        padding-left: 11px;
        text-decoration: none;
        color: white;
    }
}

#aboutme-section {
    background-color: #FF9E44;
    display: flex;

    #texts-aboutme-container {
    width: 60vw;
    padding-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 80px; */

        #texts-aboutme-items {
            width: 70%;
        }

    }

    p {
        font-size: 1.50rem;
        color: white;
        line-height: 1.80rem;
        padding: 46px 0 55px 0;
    }

    #foto-aboutme {
        background-image: url(/site_pessoal_com_bia/media/foto-about-me.jpg);
        width: 40vw;
        background-size: cover;
        background-position: center;
    }
}

.linkedin-button {
    background-color: #ffffff3a;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 14px;
    color: white;
    border-radius: 5px;

    a {
        padding-left: 11px;
        text-decoration: none;
        color: white;
    }
}

#skills-section {
    background-image: url(/site_pessoal_com_bia/media/foto-contatos.jpg);
    background-size: cover;
    background-position: center;

    .skills-overlay {
        height: 100vh;
        width: 100%;
        background-color: #ffffff70;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        color: #3C3C3C;
        font-size: 3rem;
        text-transform: uppercase;
        padding-bottom: 70px;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        gap: 27px;
        justify-content: center ;
        padding-bottom: 70px;
    }

    li {
        background-color: #00000040;
        color: white;
        padding: 15px 20px;
        border-radius: 10px;
        font-size: 1.93rem;
    }

    .curriculo-button {
    background-color: #3C3C3C;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 14px;
    color: white;
    border-radius: 8px;

    a {
        padding-left: 11px;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight:300;
    }
}

}

#contatos-section {
    background-color: #2343E3;
    display: flex;

    #texts-contatos-container {
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            color: white;
            font-size: 3rem;
            text-transform: uppercase;
            padding: 90px 0 60px 0;
            text-decoration: underline;
        }

        p {
            color: white;
            font-size: 1.50rem;
        }


        #paragrafo-contatos {
            line-height: 2.4rem;
        }

        #texts-contatos-child {
            width: 80%;
            max-width: 750px;
        }
    }

    .emailFone {
        font-style: normal;
        padding-top: 40px;
        padding-bottom: 70px;

        .emailFone-items {
            display: flex;
            padding-top: 12px;

            .email-icon {
                width: 30px;
            }

            p {
                padding-left: 15px;
            }
        }
    }

    .medias-sociais {
        display: flex;
        gap: 1rem;

        a {
            background-color:#3756F3;
            padding: 10px;
            border-radius: 10px;
        }

        img {
            height: 28px;
        }
    }

    .foto-contatos {
        background-image: url(/site_pessoal_com_bia/media/foto-bolhas.jpg);
        width: 40vw;
        background-size: cover;
        background-position: center;
    }
}